{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": false
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true
  }
}
